//variables globales

//colores
$mainColor:rgba(207, 207, 207, 0);
$secondaryColor:rgb(154, 158, 154);
$navBorder: rgba(128, 128, 128, 0);
$keyColor:rgb(15, 14, 14);
$white:rgb(252, 252, 252);
$subColor: rgb(144, 146, 144);
$navText:rgb(14, 13, 13);
$bgInicio: rgba(208, 235, 88, 0.884);
$bgEntorno:rgba(217,221,217,.4);;
$btnForm: rgba(181, 201, 171, 0.884) ;;

//fonts
$mainFont:'Kanit', sans-serif;
$secondaryFont:verdana, sans-serif;

//sizing
$textSm:1em;
$textMd:1.5em;
$textLg:1.5em;
$textXl:2em;
$textEntorno: 1.5em;
$textSpeech: 1.3em;

//weight
$textBold:600;
$textLight:300;
$textRegular:400;

